body{
    font-family: 'Merriweather Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif; 
    background: white;
}
nav h3{
    width: 243px;
    height: 52.2px;
    margin: 87px 0 0 220px;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
   margin-bottom: 40px;
}
/* section start */
/* section 1 */
.first-part{
    display: flex;
    margin-left: 150px;
}
.first-heading{
    width: 50%;
    margin-right: 133px;
    margin-top: 50px;
    margin-right: 165px;
    overflow: hidden;
}
.first-heading .width{
    font-size: 52px;
    font-weight: 700;
}
.first-heading-width{
    width: 582px;
    height: 400px;
    margin-left: 120px;
    margin-top:124px ;
}
.first-heading-detail{
    width: 582px;
    height: 270px;  
}
.make-button{
    background-color: #E02C6D;
    width: 196px;
    height: 44px;
    border-radius: 41px;
    padding: 10px 24px 10px 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 16px;
    font-weight: 700;
}
.fas.fa-long-arrow-alt-right{
    width: 50px;
    font-size: 30px;
    color: white;
}
.hover-effect:hover img{
transform: rotate(180deg) scale(1.3);
}
.first-heading img{
    width: 440px;
    height: 414px;
    transition: transform 5s, scale 5s; 
}
/* section 2 */
/* Blogs container */
.blogs-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.blogs{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 30px;
    column-gap: 30px;
}
.blog{
    width: 350px;
    height: 520px;
  box-shadow: 5px 5px 5px 5px rgba(128, 128, 128, 0.349);
    background-color:white;
}
.blog-info img{
    width: 300px;
    height: 256px;
    margin:17px 15px 0 14px ;
}
.blog-info-heading{
    margin:16px 164px 0px 14px; 
}
.blog-rating{
    display: flex;
    align-items: center;
    font-size: 16px;
    margin: 0 193px 0 14px;
 }
   .blog-rating .fa-star,.fa-star-half-alt{
       color: gold;
   } 
.blog-detail {
  width: 196px;
  height: 61px;
  margin: 0 0 0 16px;  
}
.see-more{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    color: #E02C6D;
}
/* section 3 */
.features-blog{
    display: flex;
    justify-content: center;
    align-items: center;
}
.features-blog-equality{
    width: 50%;
   
}
.feature-detail{
    margin-right: 165px;
}
.feature-photo img{
    width: 404px;
    height:270px ;
    margin: 0 190px 0 190px;
}
#reduce-width{
    width:155px ;
    height: 44px;
}
/* section end */
/* footer :start */
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: whitesmoke;
    align-items: center;
    background-color: black;
    margin: 30px 0 0 250px ;
    width: 1170px;
}
.social-icon{
    color: whitesmoke;
  font-size: 30px;
}
.icon-margin{
    margin-left: 15px;
}
/* footer end */

/*-----------
 Media Queries
---------- */
/* mobile device */
@media only screen and (max-width:688px){
    .container{
        width: 100%;
        margin: 0;
    }
    footer{
        width: 100%;
    }
    .first-part,.blogs, .features-blog {
    display: grid;
    grid-template-columns: repeat(1,1fr);
     margin: 0;
    }
    
    .first-heading{
        margin: 0;
        padding: 0;
    }
    .first-heading-width{
        margin: 0;
    }
}
/* tablet mode */
@media only screen and (min-width:688px) and(max-width:992px){
    .container{
        width: 100%;
        margin: 0;
    }
    footer{
        width: 100%;
    }
    .first-part,.blogs, .features-blog {
     display: grid;
     grid-template-columns: repeat(2,1fr);
     margin: 0;
    }
    .first-heading{
        margin: 0;
        padding: 0;
    }
    .first-heading-width{
        margin: 0;
    }
}

