body{
    font-family: 'Merriweather Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif; 
}
nav h3{
    width: 243px;
    height: 52.2px;
    margin: 87px 0 0 140px;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.first-part{
    display: flex;
}
.first-heading{
    width: 50%;
    margin-right: 133px;
    margin-top: 50px;
    margin-right: 165px;
    overflow: hidden;
}
.first-heading .width{
    font-size: 52px;
    font-weight: 700;
}
.first-heading-width{
    width: 582px;
    height: 270px;
    margin-left: 120px;
    margin-top:124px ;
}
.first-heading-detail{
    width: 582px;
    height: 270px;
    
}
.make-button{
    background-color: #E02C6D;
    width: 196px;
    height: 44px;
    border-radius: 41px;
    padding: 10px 24px 10px 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 16px;
    font-weight: 700;
    

}
.fas.fa-long-arrow-alt-right{
    width: 50px;
    font-size: 30px;
    color: white;
}
.hover-effect:hover img{
transform: rotate(180deg) scale(1.3);

}
.first-heading img{
    width: 440px;
    height: 414px;
    transition: transform 5s, scale 5s;
    
}